.wx-date {
  font-size: 14px; }

.wx-red {
  color: #f73535; }

.wx-redLine {
  display: block;
  width: 100%;
  border-bottom: 2px #f73535 solid; }

a:hover {
  text-decoration: none; }

.wx-blueBg {
  background: #33b5e6;
  color: #ffffff;
  padding: 1px 2px; }

.wx-nopadding {
  padding: 0px; }

.wx-top {
  padding: 0; }

.wx-nav {
  font-size: 20px; }

.navbar {
  border-top: none;
  border-left: none;
  border-right: none; }

.nav li a {
  padding-left: 10px;
  padding-right: 10px; }

.carousel-caption {
  left: 2%;
  right: 2%;
  bottom: 0;
  padding-bottom: 0px;
  text-align: left; }
  .carousel-caption a {
    color: #ffffff; }

.wx-topNews .wx-topNews-content {
  padding-top: 15px;
  border-top: 1px #efefef solid; }
.wx-topNews .media-object {
  margin-top: 3px; }

.wx-mainMenu {
  font-size: 18px;
  border-bottom: none;
  border-top: 2px solid #dddddd;
  text-align: center; }
  .wx-mainMenu li {
    width: 20%; }
    .wx-mainMenu li a:hover {
      background: #ffffff;
      border-bottom: none;
      border-left: none;
      border-right: none; }
    .wx-mainMenu li.active {
      margin-top: -2px; }
      .wx-mainMenu li.active > a, .wx-mainMenu li.active > a:hover {
        border-top: 2px solid #f73535;
        color: #f73535; }

.wx-mainContent {
  margin-top: 10px; }
  .wx-mainContent li {
    padding-bottom: 5px;
    border-bottom: 1px #dddddd solid; }
  .wx-mainContent .wx-mainMenu-content {
    font-size: 20px; }
  .wx-mainContent .wx-blueBg {
    font-size: 14px;
    padding: 1px 3px; }

#special .carousel-indicators {
  bottom: 0px;
  top: -30px;
  left: 88%; }
  #special .carousel-indicators .active {
    background: #f73535;
    width: 13px;
    height: 13px; }
  #special .carousel-indicators li {
    width: 11px;
    height: 11px;
    border: 1px solid #ddd;
    background: #ddd; }
