$red:#f73535;
$blue:#33b5e6;

.wx-blueBg{
  background: $blue;
  color: #ffffff;
  padding: 1px 2px;
}
.wx-nopadding{
  padding:0px;
}
.wx-top{
  width: 1020px;
  margin: 0 auto;
}
.wx-nav{
  font-size: 20px;;
}
.navbar{
  border-top:none;
  border-left: none;
  border-right: none;
//  border-bottom: 1px solid transparent;
}
.nav{
  li{
    a{
      padding-left:10px;
      padding-right: 10px;
    }
  }
}
.wx-topNews{
  border-top: 2px $red solid;
  border-bottom: 2px $red solid;
  .wx-topNews-content{
    padding-top: 15px;
    border-top: 1px #efefef solid;
  }

  .media-object{
    margin-top: 3px;
  }
}
.wx-mainMenu{
  font-size: 18px;
  border-bottom: none;
  border-top: 2px solid #dddddd;
  text-align: center;
  li{
    width: 20%;
    a:hover{
      background: #ffffff;
      border-bottom: none;
      border-left: none;
      border-right: none;
    }
    &.active {
      margin-top: -2px;
      &>a,&>a:hover {
        border-top: 2px solid $red;
        color: $red;
      }
    }
  }
}
.wx-mainContent{
  margin-top: 5px;
  li{
    padding-bottom: 5px;
    border-bottom: 1px #dddddd solid;
  }
  .wx-mainMenu-content{
    font-size: 20px;
  }
  .wx-blueBg{
    font-size: 14px;
    padding: 1px 3px;
  }
}